<div class="card mt-3">
  <div class="card-header">
    <div class="float-left">
      <h4>Cadastro</h4>
      <div class="float-right">
      </div>
    </div>
    <span class="float-right">
    </span>
  </div>
  <div class="card-body">
    <table class="table table-hover"></table>

    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="Email">Email</label>
          <input type="email" class="form-control" [(ngModel)]="cliente.email"  [ngModelOptions]="{ standalone:
            true}"id="email" placeholder="">
        </div>
        <div class="form-group col-md-6">
          <label for="Password">Senha</label>
          <input type="password" class="form-control" [(ngModel)]="cliente.password"  [ngModelOptions]="{ standalone:
            true}"id="password" placeholder="">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-sm">
          <label for="Nome">Nome</label>
          <input type="nome" class="form-control" [(ngModel)]="cliente.nome"  [ngModelOptions]="{ standalone:
            true}" id="nome" placeholder="">
        </div>
        <div class="form-group col-sm">
          <label for="CPF">CPF</label>
          <input type="cpf" class="form-control" [(ngModel)]="cliente.cpf"  [ngModelOptions]="{ standalone:
            true}" id="cpf" placeholder="">
        </div>
        <div class="form-group col-sm">
          <label for="Telefone">Telefone</label>
          <input type="telefone" class="form-control" [(ngModel)]="cliente.telefone"  [ngModelOptions]="{ standalone:
            true}" id="telefone" placeholder="">
        </div>

      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="Rua">Rua</label>
          <input type="rua" class="form-control" [(ngModel)]="cliente.rua"  [ngModelOptions]="{ standalone:
            true}" id="rua" placeholder="">
        </div>
        <div class="form-group col-md-6">
          <label for="Cep">CEP</label>
          <input type="cep" class="form-control" [(ngModel)]="cliente.cep"  [ngModelOptions]="{ standalone:
            true}" id="cep" placeholder="">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-sm">
          <label for="Numero">Numero</label>
          <input type="numero" class="form-control" [(ngModel)]="cliente.numero"  [ngModelOptions]="{ standalone:
            true}" id="numero" placeholder="">
        </div>
        <div class="form-group col-sm">
          <label for="Bairro">Bairro</label>
          <input type="bairro" class="form-control" [(ngModel)]="cliente.bairro"  [ngModelOptions]="{ standalone:
            true}" id="bairro" placeholder="">
        </div>
        <div class="form-group col-sm">
          <label for="Complemento">Complemento</label>
          <input type="complemento" class="form-control" [(ngModel)]="cliente.complemento"  [ngModelOptions]="{ standalone:
            true}" id="complemento" placeholder="">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="uf">UF</label>
          <input type="uf" class="form-control" [(ngModel)]="cliente.uf"  [ngModelOptions]="{ standalone:
            true}" id="uf" placeholder="">
        </div>
        <div class="form-group col-md-6">
          <label for="Cidade">Cidade</label>
          <input type="cidade" class="form-control" [(ngModel)]="cliente.cidade"  [ngModelOptions]="{ standalone:
            true}" id="cidade" placeholder="">
        </div>
      </div>

      <button class="btn btn-lg btn-success btn-block" (click)="alterar()" type="submit"> Alterar</button>
    </form>
  </div>
</div>