<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand">Logo aqui</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin/home']" >
          <i class="fas fa-home" ></i>
          Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin/dados']">
          <i class="fas fa-user-tie"></i>
          Meus Dados
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin/files']">
          <i class="far fa-file-alt"></i>
          Arquivos
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin/cliente']">
          <i class="fas fa-users"></i>
          Clientes
        </a>
      </li>
    </ul>
    <form class="form-inline my-2 my-md">
      <input class="form-control mr-sm-1" type="search" placeholder="" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar
          <i class="fas fa-search"></i>
      </button>
      &nbsp;
      <button class="btn btn-outline-danger" type="submit">Sair
          <i class="fas fa-sign-out-alt"></i>
      </button>
    </form>
  </div>
</nav>
