<div class="card mt-3">
  <div class="card-header">
    <div class="float-left">
      <h4>Fotos {{ arquivo.nome }}</h4>
      <div class="float-right">
      </div>
    </div>
    <span class="float-right">
      <button class="btn btn-success mb-1 btn-sm">
        <i class="fas fa-plus-square fa-2x"></i>
      </button>
    </span>
  </div>
  <div class="card-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Data</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let foto of vetFotos">
          <!-- LACO REPETICAO AQUI // ARRUMAR O LAÇO INFINITO RETARDADO-->
          <td> {{ foto.date }}</td> 
          <td>
            <span class="float-right">
              <button class="btn btn-primary mb-1 btn-sm">
                <i class="fas fa-search-plus"></i>
                Visualizar
              </button>&nbsp;
              <button class="btn btn-dark mb-1 btn-sm">
                <i class="fas fa-edit"></i>
                Editar
              </button>&nbsp;
              <button class="btn btn-danger mb-1 btn-sm">
                <i class="fas fa-trash-alt"></i>
                Excluir
              </button>
            </span>
          </td>
        </tr>
      </tbody>

    </table>
  </div>
</div>

<div class="card mt-3">
  <div class="card-header">
    <div class="float-left">
      <h4>Vídeos  {{ arquivo.nome }} </h4>
      <div class="float-right">
      </div>
    </div>
    <span class="float-right">
      <button class="btn btn-success mb-1 btn-sm">
        <i class="fas fa-plus-square fa-2x"></i>
      </button>
    </span>
  </div>
  <div class="card-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Data</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let video of vetVideos">
          <!-- LACO REPETICAO AQUI-->
          <td>{{ video.date }} </td>
          <td>
            <span class="float-right">
              <button class="btn btn-primary mb-1 btn-sm">
                <i class="fas fa-search-plus"></i>
                Visualizar
              </button>&nbsp;
              <button class="btn btn-dark mb-1 btn-sm">
                <i class="fas fa-edit"></i>
                Editar
              </button>&nbsp;
              <button class="btn btn-danger mb-1 btn-sm">
                <i class="fas fa-trash-alt"></i>
                Excluir
              </button>
            </span>
          </td>
        </tr>
      </tbody>

    </table>
  </div>
</div>