<!--

  {{teste| json}}
  
  <button (click)="compareLogin()" class="btn btn-primary ">Entrar aqu iagora </button>
  
  <button (click)="imprimir()" class="btn btn-primary ">imprimir </button>
  
  <input [(ngModel)]="teste.password" >
-->
<br><br><br><br><br><br><br>




<div class="container">
  <div class="row">
    <div class="col">

    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="form-group">
            <label for="email">E-mail:</label>
            <input [(ngModel)]="login.email" type="text" class="form-control" id="email" placeholder="exemplo@exemplo.com" name="email" required>
          </div>
          <div class="form-group">
            <label for="password">Senha:</label>
            <input [(ngModel)]="login.password" type="password" class="form-control" id="password" placeholder="exemplo123" name="password" required>
          </div>
          <button type="submit" class="btn btn-primary" (click)="fazerLogin()">Entrar</button>
        </div>
      </div>
    </div>

    <div class="col">

    </div>
  </div>
</div>


<br><br>