
<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <button class="btn" type="button" id="sidebarCollapse" data-toggle="collapse"
        data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <h3 style="color:white!important;">Photo System</h3>
        <strong style="color:white!important">PS</strong>
      </button>
    </div>

    <ul class="list-unstyled components">
      <li class="active">
        <a [routerLink]="['/admin/home']" routerLinkActive="router-link-active"  data-toggle="collapse" aria-expanded="false" >
          <i class="fas fa-home"></i>
          Home
        </a>
        
      </li>
      <li>
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fas fa-folder"></i>
          Arquivos
        </a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
          <li>
            <a [routerLink]="['/admin/files/photos']" routerLinkActive="router-link-active" >
              <i class="fas fa-camera-retro"></i>
              Fotos</a>
          </li>
          <li>
            <a [routerLink]="['/admin/files/videos']" routerLinkActive="router-link-active" >
              <i class="fas fa-film"></i>
              Vídeos</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#pageCliente" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fas fa-address-book"></i>
          Clientes
        </a>
        <ul class="collapse list-unstyled" id="pageCliente">
          <li>
            <a [routerLink]="['/admin/cliente']" routerLinkActive="router-link-active" >
              <i class="fas fa-address-card"></i>
              Cadastrar Cliente</a>
          </li>
          <li>
            <a [routerLink]="['/admin/list']" routerLinkActive="router-link-active" >
              <i class="fas fa-file"></i>
              Gerenciar Arquivos Cliente</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">
          <i class="fas fa-briefcase"></i>
          Sobre a Empresa
        </a>
        <a href="#">
          <i class="fas fa-question"></i>
          FAQ
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fas fa-paper-plane"></i>
          Contato
        </a>
      </li>


    </ul>



  </nav>
  <div id="content">
    <app-top-page></app-top-page>
    <!--      
      <app-cliente-form></app-cliente-form>
      <app-cliente-list></app-cliente-list>
    -->
  </div>

</div>