<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">Logo aqui</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          
          <a class="nav-link">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Meus Dados</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="true">
            Arquivos
          </a>
          <div class="dropdown-menu" href="#" aria-labelledby="navbarDropdown">
              <button class="dropdown-item" type="button">Fotos</button>
              <button class="dropdown-item" type="button">Vídeos</button>
          </div>
        </li>
      </ul>
        <button class="btn btn-dark" type="submit">Sair</button>
    </div>
  </nav>
  